.selector {
  padding: 3px;
}

.form-header {
  position: sticky;
  top: 0;
  background: #ffffff;
  border-bottom: 3px solid rgb(78, 45, 187);
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
th {
  text-align: left;
}

.form-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.287);
  background: #fff;
  z-index: 9 !important;
  width: 400px;
  height: 500px;
  padding: 20px;
}

@media only screen and (max-width: 500px) {
  .form-edit {
    width: 90vw;
  }
}
